#projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 5vh 2.5vh;
    margin-top: var(--layout-margin-top);
    margin-bottom: var(--layout-margin-bottom);
}

.panel {
    padding: 0;

    border-radius: var(--corner-radius);
    background-color: var(--panel-color);
    text-decoration: none;

    transition: background-color var(--transition-duration-panel);
}

.project-banner img {
    width: 100%;
}

.project-heading {
    margin: var(--panel-padding-horizontal);
    margin-bottom: 0;
}

.project-extras {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: var(--panel-padding-horizontal);
    margin-top: 16px;
}

.project-subheading, .status-tag {
    display: inline-block;
    vertical-align: middle;
}

.status-tag {
    margin-left: 32px;
}

@media (max-width: 1200px) {
    #projects-container {
        grid-template-columns: auto;
    }
}
