#about-root {
    text-align: center;
}

#about-image {
    display: block;

    width: 256px;
    height: 256px;
    margin: 0 auto;

    background: var(--panel-color);
    border-radius: 50%;
}
@media (max-width: 1600px) {

    #about-image {
        width: 172px;
        height: 172px;
    }
}

h1 {
    text-align: center;

    margin-top: 32px;
}

#about-degree {
    margin-top: 4px;

    color: var(--text-color-secondary);
}

#about-summary {
    padding: 72px 0;
    margin-top: 72px;
}

#about-summary p {
    text-align: center;

    width: 40%;
    margin: 0 auto;

    font-size: 1.075em;
    line-height: 1.5;
}

@media(max-width: 1200px) {

    #about-summary p {
        width: 80%;
    }
}

#about-cv {
    text-align: center;

    transform: translateY(-50%);
}

#skills-container {
    margin-top: var(--content-margin);
    margin-bottom: var(--layout-margin-bottom);
}

.skill-category-heading {
    margin-top: 72px;
}

.skills {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    margin-top: 16px;
    column-gap: 96px;
    row-gap: 24px;
}

.skill-title, .skill-icon {
    display: inline-block;
    vertical-align: middle;
}

.skill-title {
    font-size: 1em;
}

.skill-icon {
    height: 16px;
    width: 16px;

    margin-left: 16px;

    opacity: var(--icon-opacity);
}

.skill-level-container, .skill-level {
    height: 6px;

    margin-top: 8px;

    border-radius: var(--corner-radius);
}

.skill-level {
    background: rgba(0, 0, 0, 0.2);
}

.skill-level-high {
    background-color: var(--primary-color);
}

.skill-level-container {
    background-color: rgba(0, 0, 0, 0.05);
}
