
#main-header {
	margin-top: var(--layout-margin);
}

#project-heading {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    margin-top: var(--section-gap);
    gap: 32px;
}

#project-heading h1 {
    flex-grow: 1;
}

#project-skills {
    display: flex;
    flex-wrap: wrap;

    gap: 24px;
}

#project-skills .skill {
    width: 24px;
    height: 24px;

	filter: invert(1);
}

#project-content {
    margin-top: 64px;
}

#project-images {
    display: grid;
    grid-template-columns: 1fr 1fr;

    margin-top: var(--section-gap);
    gap: 2vw;
}
@media (max-width: 1200px) {
    #project-images {
        margin-left: 0;
        margin-right: 0;
    }
}

.project-image {
	border-radius: var(--border-radius);

	overflow: hidden;
}

.project-image img {
    width: 100%;
	height: 100%;
}

.banner {
    grid-column: 1 / span 2;
}

#project-sources {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    column-gap: 64px;
    row-gap: 16px;
    margin-bottom: var(--layout-margin);
}

#project-sources:not(:empty) {
    padding-top: var(--section-gap);
}
