#project-header-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 32px;

    margin-top: var(--layout-margin-top);
}

#project-content {
    margin-top: 48px;
}

#project-images {
    display: grid;
    grid-template-columns: 1fr 1fr;

    margin-top: var(--content-margin);
    gap: 2vw;
}

#project-images img {
    width: 100%;
}

.banner {
    grid-column: 1 / span 2;
}

#project-sources {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    gap: var(--standard-margin);
}

#project-sources:not(:empty) {
    margin-top: var(--content-margin);
}

#project-skills {
    display: flex;
    justify-content: center;

    margin-top: var(--content-margin);
    margin-bottom: var(--layout-margin-bottom);
    gap: var(--standard-margin);
}

#project-skills .skill {
    width: 32px;
    height: 32px;

    opacity: var(--icon-opacity);
}
