/*

Breakpoints:
1601px and upwards : PC
1201px - 1600px : Laptop
701px - 1200px : Tablet
700px and below : Mobile

*/

:root {
    --primary-color: #54c9aa;
    --secondary-color: #5bd6e4;

    --heading-font: "Lato", sans-serif;

    --text-color-primary: rgba(255, 255, 255, 0.95);
    --text-color-secondary: #rgba(255, 255, 255, 0.6);
    --text-color-inverse: rgba(0, 0, 0, 0.9);

    --panel-color: #2e302f;
    --panel-color-hover: #3C3E3D;
    --panel-padding-horizontal: 24px;
    --panel-padding-vertical: 16px;

    --gutter: 7.5vw;

    --standard-margin: 48px;

    --layout-margin-top: 10vh;
    --layout-margin-bottom: 156px;

    --content-margin: 7.5vh;

    --corner-radius: 2px;

    --medium-icon-size: 24px;
    --large-icon-size: 32px;
    --main-icon-opacity: 0.95;
    --icon-opacity: 0.5;

    --transition-duration-panel: 200ms;
    --transition-duration-shape: 250ms;
}

@media (max-width: 1200px) {
    :root {
        --layout-margin-top: 64px;
    }
}

* {
    margin: 0px;
    padding: 0px;

    color: var(--text-color-primary);
    font-family: "Open Sans", sans-serif;
}
body {
    background-color: #1c1e1d;
}
h1 {
    font-size: 2.5em;
    font-family: "Lato", sans-serif;
}
h2 {
    font-size: 1.625em;
    font-family: "Lato", sans-serif;
}
h3 {
    font-size: 0.875em;
    font-weight: normal;
    color: rgba(255, 255, 255, 0.5);
}
button {
    appearance: none;
    background: none;
    border: none;
}
::selection {
    background-color: var(--secondary-color);
}

/* Grid */
.main-content-grid {
    margin: 0 var(--gutter);
}


/* Panel */
.panel {
    padding: var(--panel-padding-vertical) var(--panel-padding-horizontal);
    border-radius: var(--corner-radius);

    background-color: var(--panel-color);
}
a.panel {
    text-decoration: none;
    transition: background-color var(--transition-duration-panel);
}
a.panel:hover {
    background-color: var(--panel-color-hover);
}


/* Status tag */
.status-tag {
    padding: 6px 12px;

    border-radius: var(--corner-radius);
    font-family: "Lato", sans-serif;
}
.status-tag-archived {
    background-color: #f5c5c5;
    color: #9f0000;
}
.status-tag-ongoing {
    background-color: #c5f5ef;
    color: #009f8a;
}
.status-tag-released {
    background-color: #c5f5c9;
    color: #3fae49;
}


/* Project icon */
.project-icon {
    width: 48px;
    height: 48px;
}


/* Header */
#main-header {
    --spacing: 64px;

    display: flex;
    align-items: center;

    margin-top: 48px;
}
#main-logo img {
    width: var(--large-icon-size);
    height: var(--large-icon-size);;
    padding: 12px;
    margin-left: -12px;
}
#main-navigation {
    display: flex;

    margin-left: auto;
}
#main-header ul {
    list-style-type: none;

    margin-right: var(--spacing);
}
#main-header ul li {
    display: inline-block;
    margin-left: var(--spacing);
}
#main-header ul li a {
    display: block;

    padding: 16px;

    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    border-radius: var(--corner-radius);

    transition: color 200ms, background-color 200ms;
}
#main-header ul li a:hover {
    color: #000;
    background-color: white;
}
#main-header ul li a:hover::after {
    opacity: 1;
}
#main-links {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 12px;
    padding: 0 16px;

    border: rgba(255, 255, 255, 0.7) solid 2px;
    border-radius: var(--corner-radius);
}
#main-links a {
    padding: 12px;

    opacity: var(--main-icon-opacity);
}
#main-links img {
    display: block;

    width: var(--medium-icon-size);
    height: var(--medium-icon-size);;
}
#hamburger {
    display: none;
}
#hamburger-menu-cover {
    visibility: hidden;
}

@media(max-width: 1200px) {

    #main-header {
        position: relative;

        z-index: 5;
    }
    #hamburger {
        display: initial;

        margin-left: auto;

        opacity: var(--main-icon-opacity);
    }
    #hamburger img {
        width: 36px;
        height: 36px;

        padding: 4px;
        margin-right: -4px;
    }
    #main-navigation {
        position: absolute;
        flex-direction: column;

        width: 100%;
        top: 128px;
        left: 0;

        transition: visibility 200ms, opacity 200ms;
        visibility: hidden;
        opacity: 0;
    }
    #main-navigation ul {
        margin-right: 0;
    }
    #main-navigation ul li {
        display: block;

        margin-left: 0;
    }
    #main-navigation ul li a {
        text-align: center;

        padding: 24px 0;
    }
    #main-links {
        align-self: center;

        margin-top: var(--content-margin);
    }
    #hamburger-menu-cover {
        position: fixed;

        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        background: #131414;

        transition: visibility 200ms, opacity 200ms;
        visibility: hidden;
        opacity: 0;
    }
    .menu-show {
        visibility: visible !important;
        opacity: 1 !important;
    }
}
@media (max-width: 700px) {

    #main-header {
        margin-top: 7.5vw;
    }

    h1 {
        font-size: 2rem;
    }
}
