
#home-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;

    height: 100vh;
    padding: var(--layout-margin) 0;
}
@media (max-width: 1200px) {
    #home-container {
        display: block;

        height: auto;
    }
}

#home-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}
@media (max-width: 1200px) {
    #home-footer {
        flex-direction: column;
        align-items: flex-start;
        gap: var(--section-gap);

        margin-top: var(--section-gap);
    }
}

#home-links {
    text-align: right;
}
@media (max-width: 1200px) {
    #home-links {
        text-align: left;
    }
}

#home-links .linkedin:hover {
    color: #0E76A8;
}

#home-links .github:hover {
    color: #24292f;
}

#home-links .stackoverflow:hover {
    color: #f48024;
}

#projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;

    gap: 5vh;
    margin-top: var(--section-gap);
    margin-bottom: var(--section-gap);
}
@media (max-width: 1200px) {
    #projects-container {
        grid-template-columns: auto;

        margin-left: 0;
        margin-right: 0;
    }
}

.project {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 0;
}

.project img {
    width: 100%;
    height: 100%;

    filter: grayscale();

    transition: transform 0.3s, filter 0.7s;
}

.project:hover img {
    transform: scale(1.1);
    filter: grayscale(0);
}
