
#main-logo {
    display: inline-block;
    position: relative;

    top: -12px;
    left: -12px;
}

#main-logo img {
    height: 18px;
    padding: 12px;

    transition: opacity 200ms;
}

#main-logo img:not(.colored) {
	filter: invert(100);
}

#main-logo img.colored {
    position: absolute;

    top: 0;
    left: 0;

    opacity: 0;
}

#main-logo:hover img.colored {
    opacity: 1;
}

#main-logo:hover img {
    opacity: 0;
}
