/* Status tag */
.status-tag {
    display: inline-block;

    padding: 8px 24px;

    font-family: "Lato", sans-serif;
}

.status-tag-concept {
    background-color: #D19FC7;
}

.status-tag-alpha {
    background-color: #ade1e5;
}

.status-tag-beta {
    background-color: #8BE5C7;
}

.status-tag-released {
    background-color: #71eab4;
}

.status-tag-dormant, .status-tag-archived {
    background-color: #d6d6d6;
}
